<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telford &CO </title>
  {%  include 'base.html' %}
 {%  include 'nav.html' %}
  </head>
<body>



<!--===========================
	Header with carousel and nav
==============================-->
    <header id="HOME" style="background-position: 10%, -125px;">
	        <div class="section_overlay">
	
<!--=====================
	Title
=======================-->
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12 text-center" style ="top: -150px;">
	                        <div class="home_text wow fadeInUp animated">
	                            <h2>Telford &CO </h2>
	                            <p>Will Services</p>
	                        </div>
	                    </div>
	                </div>
	            </div>

	        </div>
	    </section>
    </header>
	<!--=====================
	Main services
=======================-->
    <section class="services" id="SERVICE">
        <div class="container">
		 <div class="row">
		 <h1> How it works..</h1>
		 </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                        <h2>Step 1: Fill in the forms</h2>

                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                    <i class="fa fa-search" aria-hidden="true"></i>
                        <h2>Step 2: Review your will </h2>

                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
                  <i class="fa fa-check" aria-hidden="true"></i>
                        <h2>Step 3: Sign and Recieve your will</h2>

                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>
	
	<!--==========================
		Secttion to create will
	===========================--->
	    <section class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft animated">
                   
                </div>
                <div class="col-md-7 col-md-offset-1 wow fadeInRight animated" style="margin-left:150px!important;">
                    <div class="baton">
	                    <a href="calculator-page">
	                        <button type="button" class="btn btn-primary cs-btn">Start your Will now!</button>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--=====================
big diamond thing


    <section class="testimonial text-center wow fadeInUp animated" style="margin-top:-30px!important;"id="TESTIMONIAL">
        <div class="container">
            <div class="icon">
                <i class="icon-quote"></i>
            </div>

        </div>
    </section> ======================= -->

<!--=====================
Gap to show background pic
=======================-->
    <div class="fun_facts">
    	<section class="header parallax home-parallax page" id="fun_facts" style="background-position: 50% -150px;">
	        <div class="section_overlay">
	            <div class="container-gap">

	            </div>
	        </div>
	    </section>
    </div>
	
	
	
	</br>
	
	
	
<!--=====================
	ABOUT the company
=======================-->
    <section class="about_us_area" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_title">
                        <h2>About US</h2>
                        <img src="../static/images/zigzag.png" alt="">
						<p style="text-align:center; margin-top:-40px!important; margin-bottom:60px!important;">Some info here.</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>

<!--=====================
	Contact section
=======================-->

    <section class="contact" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>get in touch</h1>
                          <img src="../static/images/zigzag.png" alt="">
                        <p>We have appointments available both during the day and on an evening as we are aware that you have to work too. Providing a friendly and professional service<br/>we will provide you with the best advice for your personal circumstances to ensure that your wishes are carried out.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Phone me</h2>
                        <p>01752 -----</p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Email Me</h2>
                        <p>gwenblahblah@hotmail.co.uk</p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <form class="contact-form" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>looking forward to hearing from you!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--=====================
		Footer
=======================-->
<footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo   wow fadeInUp animated">
                        <img src="../static/images/zigzag.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center   wow fadeInUp animated">
                    <div class="social">
                        <h2>Follow Me on Here</h2>
                        <ul class="icon_list">
                            <li><a href="https://www.facebook.com/rachael.tordoff"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/profile/view?id=377619341"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- =========================
     SCRIPTS
============================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>




</body>

</html>
