	            {% block content %}
		
				<nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">	               
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                </div>
	              
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					   <ul class="nav navbar-nav navbar-Left" style=>
	                    <li><a href="#"><b>Contact</b> 01752 -------</a></li>
					
	                  </ul>
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="homepage">Home</a></li>
	                    <li><a href="calculator-page">Will Writing</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Sample Will</a></li>
	                  </ul>
	                </div>
	              </div>
	            </nav>
				
			  {% endblock %}
				